<div id="banner">
    <slideshow [height]="300"
        [autoPlay]="true"
        [showArrows]="true"
        [imageUrls]="[
            './assets/images/Di_Du_Dua_Di-Bich_Phuong.jpg',
            'https://data.nhacpro.net/data/hot/0274774fb562428f51d9b99ae7b50924.jpg',
            'https://v-phinf.pstatic.net/20171005_289/1507175349535AEaY2_JPEG/upload_720x405_Thumbnail-Noo.jpg'
            ]"
        [lazyLoad]="imageSources?.length > 1"
        [autoPlayWaitForLazyLoad]="true"
        >
    </slideshow>
</div>