<app-header></app-header>
<div class="singer-container">
    <div class="singer-title">
        Create Singer
    </div>
    <div>
        <mat-form-field class="singer-item">
            <input matInput placeholder="Singer Name*" [(ngModel)]="model.name" />
        </mat-form-field>
    </div>
    <div class="file-container">
        <label class="text-avatar">Please choose a avatar</label>
        <input id="file" type="file" accept=".jpg" #avatarInput />
    </div>
    <p class="error" *ngFor="let error of errors">{{error}}</p>
    <div class="button-row">
        <button mat-raised-button color="primary" (click)="create()" class="create-button">Create</button>
    </div>
</div>
