.upload-container {
    margin: 20px;
    width: 350px;
}

.upload-title {
    font-size: 14pt;
    font-weight: bold;
    margin: 30px 0px;
}

.song-item {
    width: 100%;
}

.button-row {
    margin: 20px 0px;
    width: 200px;
}

.create-button {
    width: 100%;
}

.file-container {
    margin-top: 20px;
}

.link-item a {
    font-size: 9pt;
}

.error {
    color: red;
    font-size: 10pt;
}