<app-header></app-header>
<div class="album-container">
    <div class="album-title">
        Create Album
    </div>
    <div>
        <mat-form-field class="album-item">
            <input matInput placeholder="Album Name*" [(ngModel)]="model.name" />
        </mat-form-field>
    </div>
    <div>
        <mat-form-field class="album-item">
            <mat-label>Singer*</mat-label>
            <mat-select [(ngModel)]="model.singerId">
                <mat-option *ngFor="let singer of allSingers" [value]="singer.id">
                {{singer.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <a href="/singer/create">Create a singer</a>
    </div>
    <div class="file-container">
        <label class="text-avatar">Please choose a avatar</label>
        <input id="file" type="file" accept=".jpg" #avatarInput />
    </div>
    <p class="error" *ngFor="let error of errors">{{error}}</p>
    <div class="button-row">
        <button mat-raised-button color="primary" (click)="create()" class="create-button">Create</button>
    </div>
</div>