.album-container {
    padding: 20px;
    width: 350px;
    height: calc(100vh - 50px);
}

.album-title {
    font-size: 14pt;
    font-weight: bold;
    margin: 30px 0px;
}

.album-item {
    width: 100%;
}

.button-row {
    margin-top: 20px;
    width: 200px;
}

.create-button {
    width: 100%;
}

.file-container {
    margin-top: 10px;
}

.text-avatar {
    font-size: 10pt;
}

.error {
    color: red;
    font-size: 10pt;
}