.container {
    background-color: #9f224e;
    height: 40px;
    margin: 0;
    .logo {
        display: inline-block;
        height: 100%;
        a {
            text-decoration: none;
            font-weight: bold;
            font-size: 12pt;
            color: white;
            height: 100%;
            width: 100px;
            display: inline-flex;
            justify-content: center;
            align-items: center;
        }
    }
    .search {
        display: inline-flex;
        height: 100%;
        width: 800px;
        justify-content: center;
        align-items: center;
        border: none;
        border-width: 0;
        box-shadow: none;
        padding: 0;
        input {
            line-height: 20px;
        }
    }
}