<div id="rank">
    <div id="vietnam-rank">
        <div class="title-rank">Top 10 V-POP</div>
        <ul>
            <div *ngFor="let s of songs">
                <hr />
                <li class="song-row">
                    <div class="left-song">
                        <span class="song-order">{{s}}</span>
                        <a [routerLink]="['/playing', 'E058E788-5E50-49DA-6802-08D762C0E1C1']">
                            <img src="../../../../assets/images/EmGiOi.jpg" class="song-image" />
                        </a>
                    </div>
                    <div class="right-song">
                        <h5 class="name-song">
                            <a [routerLink]="['/playing', 'E058E788-5E50-49DA-6802-08D762C0E1C1']">Em Gì Ơi</a>
                        </h5>
                        <div class="under-info-song">
                            <div class="singer-song">Jack; K-ICM</div>
                            <div>
                                <small>
                                    100,000
                                </small>
                            </div>
                        </div>
                    </div>
                </li>
            </div>
        </ul>
    </div>
    <div id="us-uk-rank">
        <div class="title-rank">Top 10 US-UK</div>
        <ul>
            <div *ngFor="let s of songs">
                <hr />
                <li class="song-row">
                    <div class="left-song">
                        <span class="song-order">{{s}}</span>
                        <a [routerLink]="['/playing', 'E058E788-5E50-49DA-6802-08D762C0E1C1']">
                            <img src="../../../../assets/images/EmGiOi.jpg" class="song-image" />
                        </a>
                    </div>
                    <div class="right-song">
                        <h5 class="name-song">
                            <a [routerLink]="['/playing', 'E058E788-5E50-49DA-6802-08D762C0E1C1']">Em Gì Ơi</a>
                        </h5>
                        <div class="under-info-song">
                            <div class="singer-song">Jack; K-ICM</div>
                            <div>
                                <small>
                                    100,000
                                </small>
                            </div>
                        </div>
                    </div>
                </li>
            </div>
    </ul>
</div>
<div id="korea-rank">
    <div class="title-rank">Top 10 K-POP</div>
        <ul>
            <div *ngFor="let s of songs">
                <hr />
                <li class="song-row">
                    <div class="left-song">
                        <span class="song-order">{{s}}</span>
                        <a [routerLink]="['/playing', 'E058E788-5E50-49DA-6802-08D762C0E1C1']">
                            <img src="../../../../assets/images/EmGiOi.jpg" class="song-image" />
                        </a>
                    </div>
                    <div class="right-song">
                        <h5 class="name-song">
                            <a [routerLink]="['/playing', 'E058E788-5E50-49DA-6802-08D762C0E1C1']">Em Gì Ơi</a>
                        </h5>
                        <div class="under-info-song">
                            <div class="singer-song">Jack; K-ICM</div>
                            <div>
                                <small>
                                    100,000
                                </small>
                            </div>
                        </div>
                    </div>
                </li>
            </div>
        </ul>
    </div>
</div>