<div id="rank">
    <div id="vietnam-rank">
        <div class="title-rank">V-POP Chart</div>
        <ul>
            <div *ngFor="let s of songs">
                <hr />
                <li class="song-row">
                    <div class="left-song">
                        <span class="song-order">1</span>
                        <a href="/">
                            <img src="../../../../assets/images/EmGiOi.jpg" class="song-image" />
                        </a>
                    </div>
                    <div class="right-song">
                        <h5 class="name-song">
                            <a href="/">Em Gì Ơi</a>
                        </h5>
                        <div class="under-info-song">
                            <div class="singer-song">Jack; K-ICM</div>
                            <div>
                                <small>
                                    100,000
                                </small>
                            </div>
                        </div>
                    </div>
                </li>
            </div>
        </ul>
    </div>
    <div id="us-uk-rank">
        <div class="title-rank">US-UK Chart</div>
        <ul>
            <div *ngFor="let s of songs">
                <hr />
                <li class="song-row">
                    <div class="left-song">
                        <span class="song-order">1</span>
                        <a href="/">
                            <img src="../../../../assets/images/EmGiOi.jpg" class="song-image" />
                        </a>
                    </div>
                    <div class="right-song">
                        <h5 class="name-song">
                            <a href="/">Em Gì Ơi</a>
                        </h5>
                        <div class="under-info-song">
                            <div class="singer-song">Jack; K-ICM</div>
                            <div>
                                <small>
                                    100,000
                                </small>
                            </div>
                        </div>
                    </div>
                </li>
            </div>
    </ul>
</div>
<div id="korea-rank">
    <div class="title-rank">K-POP Chart</div>
        <ul>
            <div *ngFor="let s of songs">
                <hr />
                <li class="song-row">
                    <div class="left-song">
                        <span class="song-order">1</span>
                        <a href="/">
                            <img src="../../../../assets/images/EmGiOi.jpg" class="song-image" />
                        </a>
                    </div>
                    <div class="right-song">
                        <h5 class="name-song">
                            <a href="/">Em Gì Ơi</a>
                        </h5>
                        <div class="under-info-song">
                            <div class="singer-song">Jack; K-ICM</div>
                            <div>
                                <small>
                                    100,000
                                </small>
                            </div>
                        </div>
                    </div>
                </li>
            </div>
        </ul>
    </div>
</div>