<app-header></app-header>
<ul>
    <div *ngFor="let s of songs">
        <hr />
        <li class="song-row">
            <div class="left-song">
                <a [routerLink]="['/playing', s.id]">
                    <img [src]="s.avatarUrl" class="song-image" />
                </a>
            </div>
            <div class="right-song">
                <h5 class="name-song">
                    <a [routerLink]="['/playing', s.id]">{{s.title}}</a>
                </h5>
                <div class="under-info-song">
                    <div class="singer-song">{{s.singer.name}}</div>
                </div>
            </div>
        </li>
    </div>
</ul>