<div class="container">
    <div class="shade"></div>
    <div class="popup">
        <div class="popup-header">
            <div class="popup-header-content">
                REGISTER
            </div>
        </div>
        <div class="popup-body">
            <div class="popup-body-left">
                <input type="text" placeholder="User Name" class="textbox user-name" />
                <input type="password" placeholder="Password" class="textbox" />
                <input type="password" placeholder="Confirm Password" class="textbox" />
                <input type="text" placeholder="Full Name" class="textbox" />                
            </div>
            <div class="popup-body-right">
                <button>Register by Facebook</button>
                <button>Register by Google</button>
            </div>
        </div>
    </div>
</div>