body {
    padding: 0px;
    margin: 0px;
}

.header-blank {
    height: 50px;
}

.sidebav {
    background: {
        color: #404040;;
    };
    width: 150px;
    position: fixed;
    top: 50px;
}

.sidebav a {
    color: white;
}