.hot-singers {
    margin: 50px;
}

.title {
    font-size: 12pt;
    font-weight: bold;
}

.singer-row {
    display: flex;
    justify-content: space-between;
    margin: {
        top: 30px;
    }
}

.singer-card {
    width: 140px;
    display: inline-block;
}

.singer-image {
    height: 140px;
}

.album-name {
    font-size: 9pt;
}