<div class="hot-singers">
    <div class="title">Hot Singers</div>
    <hr />
    <div class="singer-row">
        <div class="singer-card">
            <div class="singer-header">
                <a><img class="singer-image" src="https://data.chiasenhac.com/data/cover/112/111158.jpg"/></a>
            </div>
            <div class="singer-body">
                <div class="singer-name">Văn Mai Hương</div>
            </div>
        </div>
        <div class="singer-card">
            <div class="singer-header">
                <a><img class="singer-image" src="https://data.chiasenhac.com/data/cover/112/111158.jpg"/></a>
            </div>
            <div class="singer-body">
                <div class="singer-name">Văn Mai Hương</div>
            </div>
        </div>
        <div class="singer-card">
            <div class="singer-header">
                <a><img class="singer-image" src="https://data.chiasenhac.com/data/cover/112/111158.jpg"/></a>
            </div>
            <div class="singer-body">
                <div class="singer-name">Văn Mai Hương</div>
            </div>
        </div>
        <div class="singer-card">
            <div class="singer-header">
                <a><img class="singer-image" src="https://data.chiasenhac.com/data/cover/112/111158.jpg"/></a>
            </div>
            <div class="singer-body">
                <div class="singer-name">Văn Mai Hương</div>
            </div>
        </div>
        <div class="singer-card">
            <div class="singer-header">
                <a><img class="singer-image" src="https://data.chiasenhac.com/data/cover/112/111158.jpg"/></a>
            </div>
            <div class="singer-body">
                <div class="singer-name">Văn Mai Hương</div>
            </div>
        </div>
    </div>
</div>